{% extends "base.html" %}
{% block title %}Artists{% endblock %}

{% block content %}
<main>
    <h2 class="text-center mb-4">Featured Artists</h2>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-2">
        {% for artist in artists %}
        <div class="col">
            <div class="card shadow-sm h-100">
                <img src="{{ artist.profile_image.url }}" class="card-img-top" alt="{{ artist.alias }}">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title mb-3">{{ artist.alias }}</h5>
                    <p class="card-text mb-4">{{ artist.description|truncatechars:150 }}</p>
                    <a href="{% url 'artist_profile' profile_id=artist.user.artist_profile.user_id %}" class="btn btn-outline-dark mt-auto">View Works</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
