{% extends "base.html" %}
{% block title %} Categories {% endblock %}
  {% block content %}
      <main>
        <div class="scroll-sideways">
            <div class="container-fluid">
                <h1>wood slides</h1>
                <div class="overflow-auto row flex-nowrap flex-row">
                  <div class="col-3">
                    <img src="https://ahmedmater.imgix.net/AL-MALAZ.png?auto=compress%2Cformat&fit=clip&h=1000&w=1000&s=c684d75c3849c98fddcb3c3da9e1e008" class="img-fluid">
                  </div>
                  <div class="col-3">
                    <img src="https://ahmedmater.imgix.net/TELEVISION.png?auto=compress%2Cformat&fit=clip&h=1000&w=1000&s=bba7fc6c74f6f04438aad938451f43de" class="img-fluid">
                  </div>
                  <div class="col-3">
                    <img src="https://ahmedmater.imgix.net/CADILLAC.png?auto=compress%2Cformat&fit=clip&h=1000&w=1000&s=a08b793aaff83b9a842c681b907ef656" class="img-fluid">
                  </div>
                  <div class="col-3">
                    <img src="https://ahmedmater.imgix.net/caravan.png?auto=compress%2Cformat&fit=clip&h=1000&w=1000&s=336a52d5d0acd38e02ff0b58796f91d9" class="img-fluid">
                  </div>
                  <div class="col-3">
                    <img src="https://ahmedmater.imgix.net/ROADBLOCK.png?auto=compress%2Cformat&fit=clip&h=1000&w=1000&s=d7c337d010097bf14b7e1437772b96df" class="img-fluid">
                  </div>
                </div>
            </div>
            <div class="container-fluid">
                <h1>Lithography</h1>
                <div class="overflow-auto row flex-nowrap flex-row">
                  <div class="col-3">
                    <img src="https://www.khalidalfaisal.org/img-khalid/waterfront-large.jpg" class="img-fluid">
                  </div>
                  <div class="col-3">
                    <img src="https://www.khalidalfaisal.org/img-khalid/wadi-hali-large.jpg" class="img-fluid">
                  </div>
                  <div class="col-3">
                    <img src="https://www.khalidalfaisal.org/img-khalid/mountain-sunset-2-large.jpg" class="img-fluid">
                  </div>
                  <div class="col-3">
                    <img src="https://www.khalidalfaisal.org/img-khalid/king-faisal-of-saudi-arabia-large.jpg" class="img-fluid">
                  </div>
                  <div class="col-3">
                    <img src="https://www.khalidalfaisal.org/img-khalid/arabian-oryx-large.jpg" class="img-fluid">
                  </div>
                </div>
            </div>
            <div class="container-fluid">
                <h1>Graphics</h1>
                <div class="overflow-auto row flex-nowrap flex-row">
                  <div class="col-3">
                    <img src="https://i.pinimg.com/736x/dd/a6/f8/dda6f8440719ecc734f98834fd86ca34--jeddah-saudi-arabia.jpg" class="img-fluid">
                  </div>
                  <div class="col-3">
                    <img src="https://i.pinimg.com/originals/4f/82/6a/4f826a32a6acbb925b7844ea1ae5d971.jpg" class="img-fluid">
                  </div>
                  <div class="col-3">
                    <img src="https://daratsb.com/wp-content/uploads/2016/03/graphics2-640x365.jpg" class="img-fluid">
                  </div>
                  <div class="col-3">
                    <img src="https://daratsb.com/wp-content/uploads/2016/03/graphics3.jpg" class="img-fluid">
                  </div>
                  <div class="col-3">
                    <img src="https://daratsb.com/wp-content/uploads/2016/03/graphics1.jpg" class="img-fluid">
                  </div>
                </div>
            </div>
        </div>
          
      </main>
  {% endblock %}