{% extends "base.html" %}
{% block title %} My Collection {% endblock %}
  {% block content %}
      <main>
        <h1> My Collection</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://cdn.theculturetrip.com/images/56-254116-dana-awartani-orientalism.jpg" class="card-img-top" alt="Artwork Image">
                        <div class="card-body">
                          <h5 class="card-title">dana awartani</h5>
                          <p class="card-text">orientalism</p>
                          <a href="#" class="btn btn-primary">Download Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://cdn.theculturetrip.com/images/56-254116-dana-awartani-orientalism.jpg" class="card-img-top" alt="Artwork Image">
                        <div class="card-body">
                          <h5 class="card-title">dana awartani</h5>
                          <p class="card-text">orientalism</p>
                          <a href="#" class="btn btn-primary">Download Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://cdn.theculturetrip.com/images/56-254116-dana-awartani-orientalism.jpg" class="card-img-top" alt="Artwork Image">
                        <div class="card-body">
                          <h5 class="card-title">dana awartani</h5>
                          <p class="card-text">orientalism</p>
                          <a href="#" class="btn btn-primary">Download Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </main>
{% endblock %}